[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/abuzov/Course_work_3
ExecStart=/home/abuzov/Course_work_3/venv/bin/python app.py

[Install]
WantedBy=multi-user.target
